body {
  text-align: center;
  font-family: Arial;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  margin: 30px auto;
  gap: 15px;
}

.btn {
  height: 130px;
  width: 130px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  opacity: 0.9;
  transition: 0.2s;
  border: 5px solid black;
}

.red {
  background: #ff4d4d;
}
.green {
  background: #4dff4d;
}
.blue {
  background: #4d4dff;
}
.yellow {
  background: #ffff4d;
}

.flash {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 0 0 25px white;
  transition: 0.15s ease-in-out;
}

.user-flash {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 0 0 25px black;
  transition: 0.15s ease-in-out;
}
