*{
  margin:0; padding:0;
  box-sizing:border-box;
  font-family:"Poppins", sans-serif;
}

body{
  background:#0d0d0d;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card{
  width:350px;
  background:#1a1a1a;
  padding:25px;
  border-radius:18px;
  text-align:center;
  box-shadow:0 8px 20px rgba(255,255,255,0.08);
  animation:fade 0.3s ease-in-out;
}

@keyframes fade{
  0%{transform:scale(0.9);opacity:0;}
  100%{transform:scale(1);opacity:1;}
}

h1{
  color:#fff;
  font-size:22px;
  margin-bottom:15px;
}

p{
  color:#ccc;
  margin:18px 0;
  font-size:18px;
  min-height:50px;
  line-height:1.4;
}

button{
  background:#ff7f50;
  border:none;
  padding:12px 18px;
  font-size:16px;
  font-weight:600;
  color:#000;
  cursor:pointer;
  border-radius:30px;
  transition:0.3s;
}

button:hover{
  background:#ff9f70;
  transform:scale(1.05);
}
