body {
  font-family: Arial;
  text-align: center;
  padding-top: 50px;
}

input {
  padding: 8px;
  width: 200px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}

ul {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  width: 50%;
  background: #e6e6e6;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

/* Buttons */
button.editBtn {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  margin-left: 10px;
}

button.deleteBtn {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  margin-left: 5px;
}

/* keep edit/delete close together, inside li */
li span {
  flex: 1;
  text-align: left;
}
